%turbo-frame{id: "check" }
  - if @word
    %h2= "残り#{@words.count}件"
    %p= @word.word
    = render "user/reviews/word_content", display: @display, word: @word
  - else
    %h2 終了
    = link_to "TOPに戻る", user_home_top_path, data: { turbo: false }