%h2
  = "復習(#{@words.count}件)"
  - if @words.count == 0
    %i.fas.fa-tasks
  - else
    = link_to check_path do
      %i.fas.fa-tasks
%table.table.table-hover.table-striped
  %thead.table-dark
    %tr
      %td name
      %td phase
      %td day
  %tbody.table-secondary
    - count = 1
    - @words.each do |word|
      %tr.position-relative
        %th= link_to word.word, each_check_path(word), class: "stretched-link text-decoration-none text-dark"
        %th= word.score.phase
        %th= updat_day_subtraction(word.score.updated_at)
      - count += 1