%h2
  = "復習(#{@words.count}件)"
  - if @words.count == 0
    %i.fas.fa-tasks
  - else
    = link_to check_path do
      %i.fas.fa-tasks
%table.table
  %thead{class: "table-dark"}
    %tr
      %td name
      %td phase
      %td day
  %tbody
  - count = 1
  - @words.each do |word|
    %tr{class: "#{alternate_color_table(count)}"}
      %th= word.word
      %th= word.score.phase
      %th= updat_day_subtraction(word.score.updated_at)
    - count += 1