%header
  %nav.navbar.navbar-light.navbar-expand-lg{ "style" => "background-color: #e3f2fd;"}
    .container
      %h1.navbar-brand OptiMemo
      .button.navbar-toggler{ "type" => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav", "aria-controls" => "navbarNav",  "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        %ul.navbar-nav.ms-auto
          %li.nav-item
            .navbar-text.nav-user-name= current_user.name
          %li.nav-item
            = link_to edit_user_registration_path, class: "nav-link" do
              %i.fas.fa-cog.nav-icon
              .nav-text 編集
          %li.nav-item
            = link_to destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } do
              %i.fas.fa-sign-out-alt.nav-icon
              .nav-text ログアウト
= link_to "ホーム", user_home_top_path
%br
= link_to "カテゴリー一覧", categories_path
%br
= link_to "単語一覧", words_path
%br
= link_to "復習", reviews_path
%br
= link_to "メール設定", edit_periodic_mail_path(current_user.periodic_mail)
