%h1 OptiMemo
= button_to "LOG_OUT", destroy_user_session_path, method: :delete
= current_user.name
%br
= link_to "ホーム", user_home_top_path
%br
= link_to "カテゴリー一覧", categories_path
%br
= link_to "単語一覧", words_path
%br
= link_to "復習", reviews_path
